@model LessonDetailsVM

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <link rel="stylesheet" href="~/assets/css/DetailsPageStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<div>
    <h3 class="heading"></h3>
    <div class="container">

        <div class="main-video">

            <div>
                <video src="@Model.FilePath" controls muted autoplay class="Mvideo"></video>

                <h2 style="display: inline;"> @Model.Title</h2>
                <br>
                <div>
                    <img src="@Model.Image" class="imgg"/>
                    <h4 style="display: inline;">@Model.FirstName @Model.LastName</h4>
                    <i class="fa-solid fa-thumbs-up icon">@Model.Likes</i>
                    <i class="fa-solid fa-thumbs-up icon">@Model.Views</i>
                </div>
                <br>

                <div>
                    <h4>Video Describtion</h4>
                    <p>@Model.Description</p>

                </div>

            </div>

        </div>


        <div class="list">
            @foreach (Lesson lesson in Model.Orders)
            {
                <div class="vid active-video" onclick="ShowVideoDetails()">
                    <img src="@lesson.CoverPicture" /> @*controls muted class="Lvideo"*@
                    <h3 class="title"> @lesson.Title</h3>
                </div>
            }
            
        </div>
    </div>

    <br><br>

    <div class="inputBox">
        <input type="text" id="comment" name="comment" class="inputt" placeholder="Add a comment"><br>
        <button class="btn btn-primary" onclick="AddComment(@Model.LessonID, @Model.ID)">Send</button> 
    </div>

    <div class="comments">

        <div id="comments-Section" class="list">
            @foreach(LessonComment comment in Model.Comments)
            {
                <div class="vid">
                    <div>
                        <span class="gray">@comment.Student.AppUser.FirstName @comment.Student.AppUser.LastName: </span>
                        <span class="gray">@comment.Date</span>
                        <p>@comment.Body</p>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>

@section Scripts 
{
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/assets/js/commentHub.js"></script>
}


