@model LessonDetailsVM
@using Microsoft.AspNetCore.Identity
@using Center_ElGhalaba.Constants
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <link rel="stylesheet" href="~/assets/css/DetailsPageStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<div>

    <div class="container">

        <div class="main-video">

            <div>

                <img src="data:image/*;base64,@(Convert.ToBase64String(Model.CoverPicture))" class="cover"/>

                <br>
                <h2 style="display: inline;"> @Model.Title</h2>
                <p>@Model.PublishDate</p>
                <div class="price">
                    @{
                        if(Model.Discount > 0)
                        {
                            <p>@(Model.Price - Model.Discount)<span style="color:red"> <del> @Model.Price LE </del></span></p>
                        }
                        else
                        {
                            <p>@Model.Price LE</p>
                        }
                    }
                </div>
                <br>

                <div class="properties__footer d-flex justify-content-between align-lessons-center">
                    <span id='L-@Model.LessonID.ToString()' class="bi bi-heart-fill" style="color:#e867ff"> @Model.Likes.Count </span>
                    <span id='V-@Model.LessonID.ToString()' class="fa fa-eye" style="color:#e867ff"> @Model.Views.Count</span>
                </div>

                <div>
                    <p>Presented By:</p>
                    <a asp-action="Details" asp-controller="Teachers" asp-route-id="@Model.Teacher.AppUserID">
                        @{
                            if(Model.Teacher.AppUser.Image != null)
                            {
                                <img src="data:image/*;base64,@(Convert.ToBase64String(Model.Teacher.AppUser.Image)) class="imgg"/>
                            }
                            else
                            {
                                <img src="~/assets/img/gallery/Blank.png" class="imgg"/>
                            }
                        }
                    </a>
                    
                    <span style="display: inline;">@Model.Teacher.AppUser.FirstName @Model.Teacher.AppUser.LastName</span>
                    
                </div>
                <br>
                <div>
                    <p>Video Describtion</p>
                    <p>@Model.Description</p>
                    <p>Subject: @Model.Subject.Name</p>
                    <p>Level: @Model.Level.Name</p>
                </div>

            </div>

            @{
                if (SignInManager.IsSignedIn(User))
                {
                    if (await UserManager.IsInRoleAsync(user, RolesConsts.Student.ToString()))
                    {
                        if (user.Student.Orders.Find(o => o.Lesson.ID == Model.LessonID) != null)
                        {
                            <a asp-action="Watch" asp-route-id="@Model.LessonID"  asp-route-userId="@user.Id" class="border-btn border-btn2">Watch</a>
                        }
                        else
                        {
                            <a href="/Payment/Student?AppUserID=@user.Id&Id=@Model.LessonID" class="border-btn border-btn2">Buy Now</a>
                        }
                    }
                }
                else
                {
                    <a href="/Identity/Account/Login" class="border-btn border-btn2">Buy Now</a>
                }
            }

        </div>
        <div class="comment-side">
            <h4>comments</h4>
            @{
                if (Model.Comments.Count > 0)
                {
                    <div id="comments-Section" class="list">
                        @foreach (LessonComment comment in Model.Comments)
                        {
                            if (comment.IsDeleted == false)
                            {
                                <div class="vid">
                                    <div>
                                        <span class="gray">@comment.Student.AppUser.FirstName @comment.Student.AppUser.LastName: </span>
                                        <span class="gray">@comment.Date</span>
                                        <p>@comment.Body</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
                else
                {
                    <p>This lesson does not have any comments yet!</p>
                }
            
            }
        </div>

    </div>

    
</div>

@section Scripts 
{
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/assets/js/commentHub.js"></script>

    <script src="~/assets/js/ConnectServerLessonHub.js"></script>
    <script src="~/assets/js/ListenLessonLikes.js"></script>
}


