@using Microsoft.AspNetCore.Identity
@using Center_ElGhalaba.Constants
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@model List<Lesson>
@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
    int check = 1;
    if (user == null)
    {
        user = new ApplicationUser();
        check = 0;
    }
    ViewData["Title"] = "Courses";
    Pager pager = new Pager();
    int pageNO = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNO = pager.CurrentPage;

    }
}

<div class="courses-area section-padding40 fix">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="section-tittle text-center mb-55">
                <h2>Our Lessons</h2>
                <div class="row justify-content-center" id="LessonContainer">
                    @foreach (Lesson lesson in Model)
                    {
                       if (lesson.IsDeleted == false){
                            <div class="col-lg-4 col-md-6  ">
                                <div class="properties properties2 mb-30">
                                    <div class="properties__card">
                                        <div class="properties__img overlay1">
                                            @if(lesson.CoverPicture != null)
                                            {
                                                <img src="data:image/*;base64,@(Convert.ToBase64String(lesson.CoverPicture))" alt="">
                                            }
                                        </div>
                                        <div class="properties__caption">
                                            <h3><a href="#">@lesson.Title</a></h3>
                                                <div class="properties__footer d-flex justify-content-between align-lessons-center">
                                                    <span id='L-@lesson.ID.ToString()' class="bi bi-heart-fill" style="color:#e867ff"> @lesson.Likes.Count </span>
                                                    <span id='V-@lesson.ID.ToString()' class="fa fa-eye" style="color:#e867ff"> @lesson.Views.Count</span>
                                                </div>

                                            <div class="properties__footer d-flex justify-content-between align-items-center">
                                                <span style="font-weight:bold">@(lesson.Price - lesson.Discount) LE</span>
                                                <span><del style="color:red">@lesson.Price LE</del> </span>
                                            </div>

                                                @if (SignInManager.IsSignedIn(User))
                                                {
                                                    if (await UserManager.IsInRoleAsync(user, RolesConsts.Student.ToString()))
                                                    {
                                                        <a asp-action="Details" asp-route-id="@lesson.ID" asp-route-userId="@user.Id" class="border-btn border-btn2">Find Out More</a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a asp-action="Details" asp-route-id="@lesson.ID" class="border-btn border-btn2">Find Out More</a>
                                                }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
                <partial name="_Pager" model="@pager"></partial>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/assets/js/ConnectServerLessonHub.js"></script>
    <script src="~/assets/js/ListenLessonLikes.js"></script>


    <script>
        var CurrentPage = 1;
        function GetLessons(value) {
            pref = CurrentPage;


            if (!Number.isInteger(value)) {
                if (value == 'next') {
                    value = CurrentPage + 1
                    CurrentPage = CurrentPage + 1;
                }
                else if (value == 'pref') {
                    value = CurrentPage - 1
                    CurrentPage = CurrentPage - 1;
                }
                else {
                    pref = CurrentPage;
                    CurrentPage = parseInt(value);
                }
            }

            if (CurrentPage > @pager.TotalPages) {
                CurrentPage = CurrentPage - 1;
                return
            }
            if (CurrentPage < @pager.StartPage) {
                CurrentPage = CurrentPage + 1;
                return
            }
            if (CurrentPage == pref) {
                return
            }
            var page = parseInt(value)
            console.log('pagination')
            $.ajax(
                {
                    url: "/Lesson/GetLessons",
                    data: { "pg": page},
                    success: function (result) {
                        $("#LessonContainer").html("");
                        for (let item of result) {
                            console.log(item)

                            addCard(item.title, item.price, item.id, item.coverPicture, item.views, item.discount,item.likes)
                        }
                    }
                });
        }
        function addCard(title, price, id, pic, views, discount,likes) {
            const cardParent = document.querySelector("#LessonContainer")
            const colDiv = document.createElement('div')

            colDiv.className = 'col-4'
            cardParent.appendChild(colDiv)

            const card = document.createElement('div')
            card.classList.add('properties', 'properties2', 'mb-30')

            colDiv.appendChild(card)

            const prpertiesCardDiv = document.createElement('div')
            prpertiesCardDiv.classList.add('properties__card')

            card.appendChild(prpertiesCardDiv)

            const imgDiv = document.createElement('div')
            imgDiv.classList.add('properties__img', 'overlay1')

            const img = document.createElement('img')
            img.classList.add('img-fluid')
            img.src = 'data:image/png;base64,' + pic;

            const propertiescaptionDiv = document.createElement('div')
            propertiescaptionDiv.classList.add('properties__caption')

            const lessonTitle = document.createElement("h3")
            lessonTitle.innerText = title

            prpertiesCardDiv.appendChild(img)
            prpertiesCardDiv.appendChild(propertiescaptionDiv)

            propertiescaptionDiv.appendChild(lessonTitle);

            const LikesDiv = document.createElement('div')
            LikesDiv.classList.add('properties__footer', 'd-flex', 'justify-content-between', 'align-items-center')

            const likies = document.createElement('span')
            likies.classList.add('bi', 'bi-heart-fill')
            likies.style.color = '#e867ff'
            likies.innerText = likes.length;

            const Lessonviews = document.createElement("span")
            Lessonviews.classList.add('fa', 'fa-eye')
            Lessonviews.style.color = '#e867ff'
            Lessonviews.innerText = views.length

            propertiescaptionDiv.appendChild(LikesDiv)
            LikesDiv.appendChild(likies);
            LikesDiv.appendChild(Lessonviews)

            const PricesDiv = document.createElement('div')
            PricesDiv.classList.add('properties__footer', 'd-flex', 'justify-content-between', 'align-items-center')

            const Total = document.createElement("span")
            Total.innerText = (price - discount) + 'LE';
            Total.style.fontWeight = 'bold'

            const beforeDiscount = document.createElement("span")
            const deleteDiscount = document.createElement("del")
            deleteDiscount.innerText = price + 'LE'
            deleteDiscount.style.color = 'red'

            beforeDiscount.appendChild(deleteDiscount)

            propertiescaptionDiv.appendChild(PricesDiv)
            PricesDiv.appendChild(Total)
            PricesDiv.appendChild(beforeDiscount)

            const ViewCourseBtn = document.createElement('a')
            ViewCourseBtn.classList.add('border-btn', 'border-btn2')
            ViewCourseBtn.innerText = 'Find Out More'

            propertiescaptionDiv.appendChild(ViewCourseBtn);

            if (@check) {
                ViewCourseBtn.href = '/Lesson/Details/' + id + '?userId=@user.Id'

            }
            else {
                ViewCourseBtn.href = '/Lesson/Details/' + id
            }


        }
    </script>
}