@using Microsoft.AspNetCore.Identity
@using Center_ElGhalaba.Constants
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
}


@using Center_ElGhalaba.Models
@model Center_ElGhalaba.Models.Teacher

@{
    ViewData["Title"] = "Details";
    Layout = "_IndexLayout";
}

<!-- Courses area start -->
<div class="courses-area fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2 class="mt-4">Your Information</h2>
                </div>
            </div>
        </div>


        <div class="services-area mt-1">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                
                            <div class="features-icon">
                                @if (Model.AppUser.Image != null)
                                {
                                    <img class="avatar rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.AppUser.Image))" />
                                }
                                else
                                {
                                    <img src="https://i.imgur.com/stD0Q19.jpg" width="100" class="rounded-circle">
                                }
                            </div>

                            <div class="features-caption">
                                <h3 class="mt-2">@Model.AppUser.FirstName @Model.AppUser.LastName</h3>
                                <h3>@Model.AppUser.Email</h3>
                                @*<p>The automated process all your website tasks.</p>*@
                                <div >
                                    <p><span>Your Balance: </span>@Model.Balance </p>
                                    <p><span>Your Likes: </span>@Model.Likes</p>
                                    <p><span>Your Followers: </span>@Model.Follows.Count</p>

                                    <span>@Model.AppUser.Address</span>
                                    <span>@Model.AppUser.PhoneNumber</span>
                                    <span>@Model.AppUser.Birthdate</span>

                                    @if (await UserManager.IsInRoleAsync(user, RolesConsts.Teacher.ToString()) && user.Id == Model.AppUserID)
                                    {
                                        <a class="border-btn border-btn2" asp-area="Identity" asp-page="/Account/Manage/Index">Edit profile</a>
                                    }
                                    else
                                    {
                                        <div id="data">not teacher</div>
                                        <script>
                                            window.onload = function () {
                                                Folow('@user.Id.ToString()', '@Model.AppUserID.ToString()')
                                            }
                                        </script>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="courses-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Your Lessons</h2>
                </div>
            </div>
        </div>
        <div class="courses-actives">
            <!-- Single -->
            <div class="properties pb-20">
                <div class="properties__card">

                    @if (Model.Lessons.Count > 0)
                    {
                        @foreach (Lesson lesson in Model.Lessons)
                        {

                            <div class="properties__img overlay1">
                                <a href="#"><img src="https://i.imgur.com/stD0Q19.jpg" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>User Experience</p>

                                <h3 class="card-title">@lesson.Title => @lesson.Price EG</h3>
                                <h3 class="card-title">PublishDate: @lesson.PublishDate</h3>
                                <h3 class="card-title">Likes: @lesson.Likes</h3>
                                <p class="card-text">@lesson.Description</p>
                                <h3 class="card-text">Views: @lesson.Views</h3>
                                <h3 class="card-text">Discount: @lesson.Discount</h3>
                                <a asp-action="EditCourse" class="text-info">Edit </a> |
                                <a asp-action="RemoveCourse" class="text-danger">Remove </a>

                                <a href="#" class="border-btn border-btn2">Find out more category</a>
                            </div>
                        }
                    }
                    else
                    {
                        <div>You Dont Have Any Courses Yet Do You Want To <a asp-action="AddCourse" asp-route-id="@Model.ID" style="color:#FF9F67">Create One</a></div>
                    }



                </div>
            </div>
            <!-- Single -->

        </div>
    </div>
</div>





<!-- Courses area start -->
@*<div id="Courses" class="courses-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Your Lessons</h2>
                        @if(Model.Lessons.Count > 0)
                        {
                            @foreach (Lesson lesson in Model.Lessons)
                            {
                                <div class="card d-inline-block m-2" style="width: 20rem;">
                                    <img class="card-img-top" src="https://i.imgur.com/stD0Q19.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@lesson.Title => @lesson.Price EG</h5>
                                        <h5 class="card-title">PublishDate: @lesson.PublishDate</h5>
                                        <h5 class="card-title">Likes: @lesson.Likes</h5>
                                        <p class="card-text">@lesson.Description</p>
                                        <h5 class="card-text">Views: @lesson.Views</h5>
                                        <h5 class="card-text">Discount: @lesson.Discount</h5>
                                        <a asp-action="EditCourse" class="text-info">Edit </a> |
                                        <a asp-action="RemoveCourse" class="text-danger">Remove </a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div>You Dont Have Any Courses Yet Do You Want To <a asp-action="AddCourse" asp-route-id="@Model.ID" style="color:#FF9F67">Create One</a></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@section Scripts{

    <script>
        function Add(s, t) {
            $.ajax({
                url: '/Teachers/AddFollower',
                data: { studentId: s, teacherId: t },
                success: function (result) {
                    console.log(result);
                    //$('#courseList').html(result);
                },
                error: function (xhr, status) {
                    alert("Add error " + status);
                }
            });
        };
        function Remove(s, t) {
            $.ajax({
                url: '/Teachers/RemoveFollower',
                data: { studentId: s, teacherId: t },
                success: function (result) {
                    console.log(result);
                    //$('#courseList').html(result);
                },
                error: function (xhr, status) {
                    alert("Remove error " + status);
                }
            });
        };
        function Folow(s, t) {
            $.ajax({
                url: '/Teachers/IsFolowwing',
                data: { studentId: s, teacherId: t },
                success: function (result) {
                    if (result) {
                        alert("Following");
                        $("#data").html("<a class='btn' onclick=Remove('" + s + "','" + t + "')>UnFollow</a>")
                    }
                    else {
                        alert("Notfollowing");
                        $("#data").html("<a class='btn' onclick=Add('" + s + "','" + t + "')>Follow</a>")
                    }

                    //$('#courseList').html(result);
                },
                error: function (xhr, status) {

                    alert("Follow error " + status);
                }
            });
        };

    </script>



    @*@{
        if (await UserManager.IsInRoleAsync(user, RolesConsts.Teacher.ToString()) && user.Id == Model.AppUserID)
        {
            <a class="btn" asp-area="Identity" asp-page="/Account/Manage/Index">Edit profile</a>
        }
    }
    @{
        else
        {
            <script>
                window.onload = function () {
                    if (Folow('@user.Id.ToString()', '@Model.AppUserID.ToString()')) {
                        alert("Following");
                        //<a class="btn" asp - area="Identity" asp - page="/Account/Manage/Index" > Edit profile < /a>
                    }
                    else {
                        alert("Notfollowing");
                        //<a class="btn" asp - area="Identity" asp - page="/Account/Manage/Index" > Edit profile < /a>
                    }
                }
            </script>
        }
    }*@

    @if (await UserManager.IsInRoleAsync(user, RolesConsts.Teacher.ToString()) && user.Id == Model.AppUserID)
    {
    }
    else
    {
        @*<script src="~/js/test.js"></script>*@
    }
}
