@using Microsoft.AspNetCore.Identity
@using Center_ElGhalaba.Constants
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
}


@using Center_ElGhalaba.Models
@model Center_ElGhalaba.Models.Teacher

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<main>
    <!--? slider Area Start-->
    <section class="slider-area">
        <div class="slider-active" style="background: linear-gradient(rgb(234, 226, 254) 0%, rgb(163, 118, 255) 1%, rgb(234, 104, 255) 98%, rgb(236, 125, 254) 99%, rgb(243, 243, 250) 99%, rgb(244, 245, 250) 100%); height:300px;">

        </div>
    </section>
    <!-- ? services-area -->
    <div class="services-area">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-30 py-5 shadow-lg border-1">
                        <div class="container d-flex py-1 justify-content-center">
                            <div class="card w-100  border-0 text-center">
                                <div class="card-headerbg-light px-3 d-flex text-center justify-content-around">
                                    <div class="left mr-2">
                                        @if (Model.AppUser.Image != null)
                                        {
                                            <img class="avatar rounded-circle" alt="profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.AppUser.Image))" />
                                        }
                                        else
                                        {

                                            <img src="https://i.imgur.com/stD0Q19.jpg" width="100" class="rounded-circle">
                                        }
                                    </div>
                                    <div class="right mt-5">
                                        <h2>@Model.AppUser.FirstName @Model.AppUser.LastName</h2>
                                        <h4>@Model.AppUser.Email</h4>
                                    </div>
                                </div>
                                <div class="card-body mt-3 fw-bold">
                                    <h2 class="card-title">
                                        <span class="badge bg-danger text-light">Your Balance: @Model.Balance</span>
                                    </h2>
                                    <h2 class="card-title">
                                        <span class="badge bg-danger text-light">Your Likes: @Model.Likes</span>
                                        <span class="badge bg-danger text-light">Your Followers: @Model.Follows.Count</span>
                                    </h2>
                                    <h4 class="card-title">@Model.AppUser.Address</h4>
                                    <h3 class="card-title">@Model.AppUser.PhoneNumber</h3>
                                    <h5 class="card-title">@Model.AppUser.Birthdate</h5>

                                    @if (await UserManager.IsInRoleAsync(user, RolesConsts.Teacher.ToString()) && user.Id == Model.AppUserID)
                                    {
                                        <a class="btn" asp-area="Identity" asp-page="/Account/Manage/Index">Edit profile</a>
                                    }
                                    else
                                    {
                                        <div id="data">not teacher</div>
                                        <script>
                                            window.onload = function(){
                                                Folow('@user.Id.ToString()', '@Model.AppUserID.ToString()')
                                            }
                                        </script>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses area start -->
    <div id="Courses" class="courses-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>Your Lessons</h2>
                        @if(Model.Lessons.Count > 0)
                        {
                            @foreach (Lesson lesson in Model.Lessons)
                            {
                                <div class="card d-inline-block m-2" style="width: 20rem;">
                                    <img class="card-img-top" src="https://i.imgur.com/stD0Q19.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@lesson.Title => @lesson.Price EG</h5>
                                        <h5 class="card-title">PublishDate: @lesson.PublishDate</h5>
                                        <h5 class="card-title">Likes: @lesson.Likes</h5>
                                        <p class="card-text">@lesson.Description</p>
                                        <h5 class="card-text">Views: @lesson.Views</h5>
                                        <h5 class="card-text">Discount: @lesson.Discount</h5>
                                        <a asp-action="EditCourse" class="text-info">Edit </a> | 
                                        <a asp-action="RemoveCourse" class="text-danger">Remove </a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div>You Dont Have Any Courses Yet Do You Want To <a asp-action="AddCourse" asp-route-id="@Model.ID" style="color:#FF9F67">Create One</a></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</main>

@section Scripts{

    <script>
    function Add(s, t) {
        $.ajax({
            url: '/Teachers/AddFollower',
            data: { studentId: s, teacherId: t },
            success: function (result) {
                console.log(result);
                //$('#courseList').html(result);
            },
            error: function (xhr, status) {
                alert("Add error "+status);
            }
        });
    };
    function Remove(s, t) {
        $.ajax({
            url: '/Teachers/RemoveFollower',
            data: { studentId: s, teacherId: t },
            success: function (result) {
                console.log(result);
                //$('#courseList').html(result);
            },
            error: function (xhr, status) {
                alert("Remove error "+status);
            }
        });
    };
    function Folow(s, t) {
        $.ajax({
            url: '/Teachers/IsFolowwing',
            data: { studentId: s, teacherId: t },
            success: function (result) {
                if (result) {
                    alert("Following");
                        $("#data").html("<a class='btn' onclick=Remove('" + s + "','" + t + "')>UnFollow</a>")
                }
                else {
                    alert("Notfollowing");
                        $("#data").html("<a class='btn' onclick=Add('" + s + "','" + t + "')>Follow</a>")
                }

                //$('#courseList').html(result);
            },
            error: function (xhr, status) {

                alert("Follow error " + status);
            }
        });
    };

</script>



    @*@{
        if (await UserManager.IsInRoleAsync(user, RolesConsts.Teacher.ToString()) && user.Id == Model.AppUserID)
        {
            <a class="btn" asp-area="Identity" asp-page="/Account/Manage/Index">Edit profile</a>
        }
    }
    @{
        else
        {
            <script>
                window.onload = function () {
                    if (Folow('@user.Id.ToString()', '@Model.AppUserID.ToString()')) {
                        alert("Following");
                        //<a class="btn" asp - area="Identity" asp - page="/Account/Manage/Index" > Edit profile < /a>
                    }
                    else {
                        alert("Notfollowing");
                        //<a class="btn" asp - area="Identity" asp - page="/Account/Manage/Index" > Edit profile < /a>
                    }
                }
            </script>
        }
    }*@

    @if (await UserManager.IsInRoleAsync(user, RolesConsts.Teacher.ToString()) && user.Id == Model.AppUserID)
    {
    }
    else
    {
        @*<script src="~/js/test.js"></script>*@
    }
}
